//отладка

/* .swiper,
.swiper-team {
  outline: 1px solid red;
}

.swiper-slide {
  outline: 1px solid greenyellow;
}

.swiper-buttons-wrapper {
  outline: 1px solid blueviolet;
} */

//

.swiper,
.swiper-team {
  .swiper-slide:not(.swiper-slide-active) {
    cursor: grab;
  }

  & .swiper-slide-active .swiper-slide-container {
    width: 100% !important;
  }

  & .swiper-wrapper {
    // переопределение умолчания, чтобы предсказуемо работал align-items
    height: auto;
  }
}

.swiper-slide {
  position: relative;

  transition: height 0.3s ease;
}

.swiper-slide-active {
  cursor: pointer;
}

.swiper-slide-container {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  width: 210px !important;
  height: 100%;
  background-color: rgba(255, 255, 255, 0.199);

  transition: width 0.3s ease;
}

.swiper-slide-img {
  position: absolute;
  z-index: -1;
}

// modidiers
//включает видимость слайдов за пределами слайдера
.overflow-v {
  overflow: visible;
}

.overflow-h {
  overflow: hidden;
}

//выравнивает слайды по центру
.swiper--slides-align-center {
  & .swiper-wrapper {
    align-items: center;
  }
}

// выравнивает слайды по нижней границе
.swiper--slides-align-bottom {
  & .swiper-wrapper {
    align-items: flex-end;
  }
}

//изменяет цвет кнопок слайдера
.swiper--buttons-black {
  & .swiper-buttons-wrapper .swiper-button {
    border-color: #000;
  }

  & .swiper-buttons-wrapper .swiper-button:before {
    content: url('../img/swiper-button-arrow--black.svg');
  }

}

// задаёт размеры слайдов - активного и остальных
// 1 цифра - размер активного
// 2 цифра - размер остальных
.swiper--slides-280-210 {
  /* слайдам нельзя явно задать ширину, а высоту можно.
  Поэтому высоту задаём явно, а нужный размер элементов
  получаем, изменяя максимальную ширину слайдера,
  пока слайды не будут нужного размера */
  width: 100%; // до медиазапроса
  height: 280px;
  max-width: 593px;

  & .swiper-wrapper {
    height: 280px;
  }

  /* Чтобы размеры слайдов "не зависели" от ширины окна
  на промежуточных разрешениях, необходимо задать минимальную
  ширину, равную максимальной ширине */
  @media (min-width: 550px) {
    min-width: 593px;

    & .swiper-buttons-wrapper {
      position: absolute;
      left: 157px;
    }
  }

  & .swiper-slide {
    height: 280px;
  }

  // размер слайда: все, кроме активного. (активный h:100% по дефолту)
  & .swiper-slide:not(.swiper-slide-active) {
    height: 210px;
  }
}

.swiper--slides-320-290 {
  height: 378px;
  max-width: 673px;

  & .swiper-wrapper {
    height: 320px;
  }

  @media (min-width: 550px) {
    min-width: 673px;
  }

  & .swiper-slide-container {
    width: 290px !important;
  }


  & .swiper-slide-active {
    height: 320px;
  }

  & .swiper-slide:not(.swiper-slide-active) {
    height: 290px;
  }
}

.swiper--slides-320-320 {
  height: 378px;
  max-width: 673px;

  @media (min-width: 550px) {
    min-width: 673px;
  }

  & .swiper-slide-container {
    width: 100% !important;
  }

  & .swiper-slide-active {
    height: 320px;
  }

  & .swiper-slide:not(.swiper-slide-active) {
    height: 320px;
  }
}

.swiper--slides-290-380-350-460 {
  height: 500px;
  max-width: 735px;

  & .swiper-slide-text {
    margin: 25px 0px 0px 0px;
    text-align: left;
    font-family: 'Lato', sans-serif;
    font-weight: 700;
  }

  & .swiper-slide-text-link {
    font-weight: 400;
    color: #F47648;
    text-decoration: underline;
  }

  & .swiper-buttons-wrapper {
    position: absolute;
    right: 0;
    bottom: 0;
  }

  & .swiper-slide-container {
    width: 100% !important;
  }

  & .swiper-slide-active {
    height: 380px;
  }

  & .swiper-slide:not(.swiper-slide-active) {
    height: 380px;
  }

  @media (min-width: 550px) {
    height: 615px;
    min-width: 735px;

    & .swiper-buttons-wrapper {
      right: 13%;
      bottom: 0;
    }

    & .swiper-slide-active {
      height: 460px;
    }

    & .swiper-slide:not(.swiper-slide-active) {
      height: 460px;
    }
  }
}

// slides insides
.swiper-slide {

  &-container {
    display: flex;
  }

  &__text-wrapper {
    align-self: flex-end;
    padding: 25px 15px;
  }

  &__title {
    font-weight: 700;
    color: #fff;
    line-height: 1.5;
  }

  &__description {
    color: #BDBDBD;
    font-size: 0.875em;
    line-height: 1.5;
  }
}

// slides images
.atf__slider {

  & .swiper-slide:nth-child(1) .swiper-slide-container {
    background: linear-gradient(to top, rgba(0, 0, 0, 0.6) 20%, transparent 60%),
      url(../img/atf__slider-1.webp) / cover no-repeat;
  }

  & .swiper-slide:nth-child(2) .swiper-slide-container {
    background: linear-gradient(to top, rgba(0, 0, 0, 0.6) 20%, transparent 60%),
      url(../img/atf__slider-2.webp) / cover no-repeat;
  }

  & .swiper-slide:nth-child(3) .swiper-slide-container {
    background: linear-gradient(to top, rgba(0, 0, 0, 0.6) 20%, transparent 60%),
      url(../img/atf__slider-3.webp) / cover no-repeat;
  }

}

.tour__day-1-slider {
  & .swiper-slide:nth-child(1) .swiper-slide-container {
    background: linear-gradient(to top, rgba(0, 0, 0, 0.6) 20%, transparent 60%),
      url(../img/home-volcanoes.webp) / cover no-repeat;
  }

  & .swiper-slide:nth-child(2) .swiper-slide-container {
    background: linear-gradient(to top, rgba(0, 0, 0, 0.6) 20%, transparent 60%),
      url(../img/monument.webp) / cover no-repeat;
  }

  & .swiper-slide:nth-child(3) .swiper-slide-container {
    background: linear-gradient(to top, rgba(0, 0, 0, 0.6) 20%, transparent 60%),
      url(../img/paratunka.webp) / cover no-repeat;
  }
}

.tour__day-2-slider {
  & .swiper-slide:nth-child(1) .swiper-slide-container {
    background: linear-gradient(to top, rgba(0, 0, 0, 0.6) 20%, transparent 60%),
      url(../img/volcano-viluchinsky.webp) / cover no-repeat;
  }

  & .swiper-slide:nth-child(2) .swiper-slide-container {
    background: linear-gradient(to top, rgba(0, 0, 0, 0.6) 20%, transparent 60%),
      url(../img/viluchinski-waterfall.webp) / cover no-repeat;
  }

  & .swiper-slide:nth-child(3) .swiper-slide-container {
    background: linear-gradient(to top, rgba(0, 0, 0, 0.6) 20%, transparent 60%),
      url(../img/thermal-springs.webp) / cover no-repeat;
  }
}

.tour__day-3-slider {
  & .swiper-slide:nth-child(1) .swiper-slide-container {
    background: linear-gradient(to top, rgba(0, 0, 0, 0.6) 20%, transparent 60%),
      url(../img/vachkazhec.webp) / cover no-repeat;
  }

  & .swiper-slide:nth-child(2) .swiper-slide-container {
    background: linear-gradient(to top, rgba(0, 0, 0, 0.6) 20%, transparent 60%),
      url(../img/vachkazhec-waterfalls.webp) / cover no-repeat;
  }

  & .swiper-slide:nth-child(3) .swiper-slide-container {
    background: linear-gradient(to top, rgba(0, 0, 0, 0.6) 20%, transparent 60%),
      url(../img/vachkazhec-lake.webp) / cover no-repeat;
  }
}

.tour__day-4-slider {
  & .swiper-slide:nth-child(1) .swiper-slide-container {
    background: linear-gradient(to top, rgba(0, 0, 0, 0.6) 20%, transparent 60%),
      url(../img/volcano-avachinsky.webp) / cover no-repeat;
  }

  & .swiper-slide:nth-child(2) .swiper-slide-container {
    background: linear-gradient(to top, rgba(0, 0, 0, 0.6) 20%, transparent 60%),
      url(../img/mountain-camel.webp) / cover no-repeat;
  }
}

.tour__day-5-slider {
  & .swiper-slide:nth-child(1) .swiper-slide-container {
    background: linear-gradient(to top, rgba(0, 0, 0, 0.6) 20%, transparent 60%),
      url(../img/avachinskaya-bay.webp) / cover no-repeat;
  }

  & .swiper-slide:nth-child(2) .swiper-slide-container {
    background: linear-gradient(to top, rgba(0, 0, 0, 0.6) 20%, transparent 60%),
      url(../img/three-brothers.webp) / cover no-repeat;
  }

  & .swiper-slide:nth-child(3) .swiper-slide-container {
    background: linear-gradient(to top, rgba(0, 0, 0, 0.6) 20%, transparent 60%),
      url(../img/starichkov-island.webp) / cover no-repeat;
  }
}

.tour__day-6-slider {
  & .swiper-slide:nth-child(1) .swiper-slide-container {
    background: linear-gradient(to top, rgba(0, 0, 0, 0.6) 20%, transparent 60%),
      url(../img/khalaktyr.webp) / cover no-repeat;
  }

  & .swiper-slide:nth-child(2) .swiper-slide-container {
    background: linear-gradient(to top, rgba(0, 0, 0, 0.6) 20%, transparent 60%),
      url(../img/mishennaya.webp) / cover no-repeat;
  }

  & .swiper-slide:nth-child(3) .swiper-slide-container {
    background: linear-gradient(to top, rgba(0, 0, 0, 0.6) 20%, transparent 60%),
      url(../img/fish-market.webp) / cover no-repeat;
  }
}

.tour__day-7-slider {
  & .swiper-slide:nth-child(1) .swiper-slide-container {
    background: linear-gradient(to top, rgba(0, 0, 0, 0.6) 20%, transparent 60%),
      url(../img/valley-of-geysers.webp) / cover no-repeat;
  }

  & .swiper-slide:nth-child(2) .swiper-slide-container {
    background: linear-gradient(to top, rgba(0, 0, 0, 0.6) 20%, transparent 60%),
      url(../img/kaldera-uzon.webp) / cover no-repeat;
  }

  & .swiper-slide:nth-child(3) .swiper-slide-container {
    background: linear-gradient(to top, rgba(0, 0, 0, 0.6) 20%, transparent 60%),
      url(../img/nalichevo.webp) / cover no-repeat;
  }
}

// buttons
.swiper,
.swiper-team {
  & .swiper-buttons-wrapper {
    display: inline-flex;
    justify-content: space-between;
    width: 120px;
    position: absolute;
    bottom: 0;
  }

  & .swiper-button-prev,
  & .swiper-button-next {
    margin: 0; // обнуление стандартного значения
    position: relative;
    display: block;
    width: 38px;
    height: 38px;
    border: 1px solid #fff;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  & .swiper-button-prev:after,
  // обнуление стандартных псевдо (:before удобнее и кода меньше)
  & .swiper-button-next:after {
    content: '';
  }

  & .swiper-button-prev:before,
  & .swiper-button-next:before {
    // вставляем свою стрелку
    content: url('../img/swiper-button-arrow.svg');
    display: block;
    width: 15px;
    height: 15px;
  }

  & .swiper-button-prev:before {
    // поворот стрелки в левой кнопке
    transform: rotate(180deg) translateY(-1px);
  }
}

// перестановка кнопок на слайдере с обратной прокруткой
.swiper[dir=rtl] {
  & .swiper-buttons-wrapper {
    flex-direction: row-reverse;
    width: 80px; //фикс расстояния между кнопками
    margin-right: 10px; // правильный отступ
  }
}

// ВСЕ ЭТИ МЕДИА ЗАИНКЛЮДИТБ В swiper-slides-XXX-XXX
@media (min-width: 550px) {
  .swiper--slides-280-210 {
    & .swiper-buttons-wrapper {
      position: absolute;
      left: 157px;
    }
  }

  .swiper--slides-320-290 {
    & .swiper-buttons-wrapper {
      position: absolute;
      left: 177px;
    }
  }

  .swiper--slides-320-290[dir=rtl] {
    & .swiper-buttons-wrapper {
      position: absolute;
      right: 177px;
    }
  }


  .swiper--slides-320-320 {
    & .swiper-buttons-wrapper {
      position: absolute;
      right: 186px;
    }
  }

}
