//отладка

/* .swiper {
  outline: 1px solid red;
}

.swiper-slide {
  outline: 1px solid greenyellow;
}

.swiper-buttons-wrapper {
  outline: 1px solid blueviolet;
} */

//

.swiper {
  & .swiper-slide-active .swiper-slide-container {
    width: 100% !important;
  }

  & .swiper-wrapper {
    // переопределение умолчания, чтобы предсказуемо работал align-items
    height: auto;
  }
}

.swiper-slide {
  position: relative;
}

.swiper-slide-active {
  cursor: pointer;
}

.swiper-slide-container {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  width: 210px !important;
  height: 100%;
  background-color: rgba(255, 255, 255, 0.199);
}

.swiper-slide-img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

//minixs
@mixin overflow-v {
  overflow: visible;
}

// modidiers
//включает видимость слайдов и кнопок за пределами враппера
.overflow-v {
  overflow: visible;
}

.overflow-h {
  overflow: hidden;
}

//выравнивает слайды по центру
.swiper--slides-align-center {
  & .swiper-wrapper {
    align-items: center;
  }
}

// выравнивает слайды по нижней границе
.swiper--slides-align-bottom {
  & .swiper-wrapper {
    align-items: flex-end;
  }
}

// задаёт размеры слайдов - активного и остальных
// 1 цифра - размер активного
// 2 цифра - размер остальных
.swiper--slides-280-210 {
  /* слайдам нельзя явно задать ширину, а высоту можно.
  Поэтому высоту задаём явно, а нужный размер элементов
  получаем, изменяя максимальную ширину слайдера,
  пока слайды не будут нужного размера */
  width: 100%; // до медиазапроса
  height: 280px;
  max-width: 593px;

  /* Чтобы размеры слайдов "не зависели" от ширины окна
  на промежуточных разрешениях, необходимо задать минимальную
  ширину, равную максимальной ширине */
  @media (min-width: 550px) {
    min-width: 593px;

    & .swiper-buttons-wrapper {
      position: absolute;
      left: 157px;
    }
  }

  & .swiper-slide {
    height: 280px;
  }

  // размер слайда: все, кроме активного. (активный h:100% по дефолту)
  & .swiper-slide:not(.swiper-slide-active) {
    height: 210px;
  }
}

.swiper--slides-320-290 {
  height: 378px;
  max-width: 673px;

  @media (min-width: 550px) {
    min-width: 673px;
  }

  & .swiper-slide-container {
    width: 290px !important;
  }


  & .swiper-slide-active {
    height: 320px;
  }

  & .swiper-slide:not(.swiper-slide-active) {
    height: 290px;
  }
}

.swiper--slides-320-320 {
  height: 378px;
  max-width: 673px;

  @media (min-width: 550px) {
    min-width: 673px;
  }

  & .swiper-slide-container {
    width: 100% !important;
  }

  & .swiper-slide-active {
    height: 320px;
  }

  & .swiper-slide:not(.swiper-slide-active) {
    height: 320px;
  }
}

.swiper--slides-290-380-350-460 {
  height: 500px;
  max-width: 735px;

  & .swiper-slide-text {
    margin: 25px 0px 0px 0px;
    text-align: left;
    font-family: 'Lato', sans-serif;
    font-weight: 700;
  }

  & .swiper-slide-text-link {
    font-weight: 400;
    color: #F47648;
    text-decoration: underline;
  }

  & .swiper-buttons-wrapper {
    position: absolute;
    right: 0;
    bottom: 0;
  }

  & .swiper-slide-container {
    width: 100% !important;
  }

  & .swiper-slide-active {
    height: 380px;
  }

  & .swiper-slide:not(.swiper-slide-active) {
    height: 380px;
  }

  @media (min-width: 550px) {
    height: 615px;
    min-width: 735px;
    transform: translateX(-13%);

    & .swiper-wrapper {
      transform: translateX(-550px);
    }

    & .swiper-buttons-wrapper {
      right: 13%;
      bottom: 0;
    }

    & .swiper-slide-active {
      height: 460px;
    }

    & .swiper-slide:not(.swiper-slide-active) {
      height: 460px;
    }
  }
}

// buttons
.swiper {
  & .swiper-buttons-wrapper {
    display: inline-flex;
    justify-content: space-between;
    width: 120px;
    margin-top: 20px;
    margin-left: -9px;
  }

  & .swiper-button-prev,
  & .swiper-button-next {
    margin: 0; // обнуление стандартного значения
    position: relative;
    display: block;
    width: 38px;
    height: 38px;
    border: 1px solid #fff;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  & .swiper-button-prev:after,
  // обнуление стандартных псевдо (:before удобнее и кода меньше)
  & .swiper-button-next:after {
    content: '';
  }

  & .swiper-button-prev:before,
  & .swiper-button-next:before {
    // вставляем свою стрелку
    content: url('../img/swiper-button-arrow.svg');
    display: block;
    width: 15px;
    height: 15px;
  }

  & .swiper-button-prev:before {
    // поворот стрелки в левой кнопке
    transform: rotate(180deg) translateY(-1px);
  }

  & .swiper-button--black {
    border-color: #000;
  }

  & .swiper-button--black:before {
    content: url('../img/swiper-button-arrow--black.svg');
  }

  & .swiper-button-prev.swiper-button--black:before {
    /* transform: scale(-1, -1); */
  }
}

// перестановка кнопок на слайдере с обратной прокруткой
.swiper[dir=rtl] {
  & .swiper-buttons-wrapper {
    flex-direction: row-reverse;
    width: 80px; //фикс расстояния между кнопками
    margin-right: 10px; // правильный отступ
  }
}

// ВСЕ ЭТИ МЕДИА ЗАИНКЛЮДИТБ В swiper-slides-XXX-XXX
@media (min-width: 550px) {
  .swiper--slides-280-210 {
    & .swiper-buttons-wrapper {
      position: absolute;
      left: 157px;
    }
  }

  .swiper--slides-320-290 {
    & .swiper-buttons-wrapper {
      position: absolute;
      left: 177px;
    }
  }

  .swiper--slides-320-290[dir=rtl] {
    & .swiper-buttons-wrapper {
      position: absolute;
      right: 177px;
    }
  }


  .swiper--slides-320-320 {
    & .swiper-buttons-wrapper {
      position: absolute;
      right: 186px;
    }
  }

}
