.tour__day-4-5-6-background {
  background: linear-gradient(to bottom,#000 30%,transparent 50%),
  linear-gradient(to top,#000 30%,transparent 50%),
  url(../img/day-4-5-6.webp) center center / contain no-repeat;
  background-size: unset;
}

@media screen and (min-width: 1440px) {
  .tour__day-4-5-6-background {
    background-size: cover;
  }
}
