.tour__day-2 {
  padding-top: 50px;
  padding-bottom: 80px;

  & .container__inner {
    position: relative;
  }

  & .tour__day-title {
    max-width: 688px;
  }

  & .tour__day-description-1 {
    max-width: 600px;
    margin-bottom: 30px;
    line-height: 1.5;
  }

  & .tour__day-description-2 {
    max-width: 600px;
    line-height: 1.5;
  }

  & .text-link {
    border-bottom: 1px solid #000;
  }

  &-slider {
    margin-top: 30px;
    min-height: 390px;
  }
}

@media screen and (min-width: 1100px) {

  .tour__day-2 {
    & .container__inner:before {
      content: url(../img/volcano.webp);
      position: absolute;
      top: -50px;
      right: -50%;
      z-index: -1;
    }

    & .tour__day-2-slider {
      margin-top: 0;
      margin-left: 0;
    }

    & .tour__day-description-1 {
      max-width: 433px;
    }

    & .container__inner-wrapper {
      display: flex;
      align-items: flex-start;
      flex-direction: row-reverse;
    }


    & .tour__day-description-2 {
      max-width: 478px;
    }
  }
}
