.tour__day-6 {
  padding-top: 50px;
  padding-bottom: 100px;

  & .col-1 {
    max-width: 700px;
  }

  & .tour__day-title {
    color: #fff;
  }

  & .tour__day-description {
    color: #fff;
  }

  & .important-text {
    color: #fff;
  }

  & .text-link {
    color: inherit;
    border-bottom: 1px solid $grey;
  }

  & .tour__day-optional {
    max-width: 700px;
  }

  &-slider {
    max-width: 1000px;
    height: 400px;
    background: url(../img/slider-day-6.png) no-repeat;
    margin-top: 30px;
  }
}

@import 'optional.scss';

@media screen and (min-width: 1440px) {
  .tour__day-6 {
    & .row {
      display: flex;
      align-items: center;
    }

    & .col-1 {
      max-width: 506px;
      margin-right: auto;
    }

    &-slider {
      width: 550px;
      background: url(../img/slider-day-6.png) no-repeat;
    }
  }
}
