.atf {
  background: linear-gradient(180deg, #FFFFFF 2.56%, rgba(255, 255, 255, 0.1) 30%, rgba(255, 255, 255, 0) 55%), url(../img/atf__background.jpg);
  background-repeat: no-repeat, no-repeat;
  background-size: 100%, cover;
  background-position: top center, bottom center;
  padding-bottom: 50px;
}

.atf .container {
  overflow: visible;
}

.atf .container__inner {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.atf__title {
  font-family: 'Montserrat', sans-serif;
  font-size: 2.5em;
  font-weight: 900;
  line-height: 1.2;
  color: #fff;
  text-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
  margin-top: 130px;
  max-width: 590px;
}

.atf__tour {
  display: flex;
  flex-direction: row-reverse;
  justify-content: space-between;
  font-family: 'Montserrat', sans-serif;
  font-size: 1.125em;
  font-weight: 700;
  color: #fff;
  max-width: 276px;
  padding: 19px 8px;
  border-radius: 16px;
  margin-top: 30px;
  background: linear-gradient(91.82deg, #FB8B62 5.83%, #F47648 89.73%);
}

.atf__tour-name {
  text-transform: uppercase;
}

.atf__tour-date {}

.atf__description {
  color: #fff;
  font-size: 1.125em;
  line-height: 1.5;
  margin-top: 30px;

  max-width: 330px;
}

.atf__link {
  margin-top: 30px;
}

.atf__slider {
  /*     background: url(../img/slider.png) no-repeat; */
  margin-top: 30px;
  height: 338px !important;
}

.atf__social {
  display: flex;
  margin-top: 30px;
  margin-left: auto;
}

.atf__social-item:not(:last-child) {
  margin-right: 19px;
}

.atf__social-link {}

.atf__social-link-img {}


@media screen and (min-width: 768px) {
  .atf__title {
    font-size: 3.5em;
    margin-top: 130px;
    max-width: 616px;
  }

  .atf__tour {
    font-size: 1.875em;
    min-width: 482px;
    padding: 14px 25px;
    margin-top: 30px;
  }

  .atf__description {
    font-size: 1.25em;
    max-width: 370px;
    margin-top: 30px;
    line-height: 1.5;
  }

  .atf__link {
    margin-top: 30px;
  }

  .atf__link .link__circle {
    width: 64px;
    height: 64px;
    margin-left: 18px;
  }

  .atf__link .link__circle-arrow {
    width: 24px;
    height: 24px;
  }

  .atf__social {
    margin-top: 0;
  }
}

@media screen and (min-width: 800px) {
  .atf__social {
    margin-left: 0;
  }
}

@media screen and (min-width: 1100px) {
  .atf__slider {
    margin-top: -30px;
    transform: translateX(200px);
  }
}

@media screen and (min-width: 1280px) {
  .atf__title {
    font-size: 4.5em;
    max-width: 900px;
  }
}
