.atf {

}

.atf__title {

}

.atf__tour {

}

.atf__tour-name {

}

.atf__tour-date {

}

.atf__description {

}

.atf__link {

}

.link {

}

.atf__slider {
    max-width: 760px;
    height: 328px;
    background: url(../img/slider.png) no-repeat;
}

.atf__social {

}

.atf__social-item {

}

.atf__social-link {

}
