/* Works on Firefox */
* {
  scrollbar-width: thin;
  scrollbar-color: #f47648 transparent;
}

/* Works on Chrome, Edge, and Safari */
*::-webkit-scrollbar {
  width: 12px;
}

*::-webkit-scrollbar-track {
  background: transparent;
}

*::-webkit-scrollbar-thumb {
  background-color: #f47648;
  border-radius: 20px;
}
