.footer {
  background-color: #212121;
}

.footer__wrapper {

}

.footer__logo {

}

.logo {

}

.logo__figure {

}

.logo__text {

}

.logo__text-dreamkam {

}

.logo__text-tour {

}

.footer__menu {

}

.footer__menu-item {

}

.footer__menu-link {

}

.footer__instagram-profile {
    min-width: 288px;
    min-height: 260px;
    background: url(../img/mobile-instagram.png) no-repeat;
}

.footer__social {

}

.footer__instagram-reviews {
    min-width: 308px;
    min-height: 104px;
    background: url(../img/social-instagram.png) no-repeat;
}

.footer__social-links-wrapper {

}

.footer__social-links-title {

}

.footer__social-links {

}

.social {

}

.social__item {

}

.social__link {

}

.footer__contacts {

}

.footer__contacts-number {

}

.footer__contacts-number-link {

}

.footer__contacts-number-worktime {

}

.footer__contacts-email {

}

.footer__contacts-address {

}


@media screen and (min-width:768px) {
    .footer__instagram-profile {
        min-width: 288px;
        min-height: 260px;
        background: url(../img/tablet-instagram.png) no-repeat;
    }
}

@media screen and (min-width:1440px) {

}
