.link {
    display: flex;
    align-items: center;
}

.link__text {
    font-size: 1.125em;
    color: #fff;
    border-bottom: 1px solid #fff;
}

.link__circle {
    width: 48px;
    height: 48px;
    border-radius: 50%;
    border: 1px solid #fff;
    margin-left: 17px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.header__link {
  border: 1px solid #000;
  border-radius: 5px;
  padding: 10px 31px;
  transition: color 0.3s, background-color 0.3s, border-color 0s;

  &:hover {
    color: #fff;
    background-color: #f47648;
    border-color: #f47648;
    box-shadow: 0 0 14px rgba(244, 118, 72, 10%), 0 0 6px rgba(244, 118, 72, 8%);
  }
}
