.team {
  padding-top: 50px;
  padding-bottom: 50px;

  & .team__title {
    font-family: 'Montserrat', sans-serif;
    font-size: 2em;
    font-weight: 700;
  }

  & .team__description {
    margin-top: 50px;
    line-height: 1.5;
    max-width: 600px;
    color: #313131;
  }

  &__list {
    margin-top: 30px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    column-gap: 40px;
  }

  &__item {
    margin-right: auto;
    margin-left: auto;
    max-width: 290px;
    margin-top: 50px;
  }

  &__item-info {
    padding: 25px 0px;
  }

  &__item-info-name {
    font-weight: 700;
  }

  &__item-info-textlink {
    color: #F47648;
    display: inline-block;
    position: relative;
  }

  &__item-info-textlink:after {
    content: "";
    display: block;
    position: absolute;
    top: 120%;
    width: 0;
    height: 1px;
    background-color: #F47648;

    transition: 0.2s ease;
  }

    &__item-info-textlink:hover:after {
    width: 100%;
  }

}

@media screen and (min-width: 768px) {
  .team {
    padding-top: 65px;
    padding-bottom: 80px;
  }
}

@media screen and (min-width: 1030px) {
  .team {
    &__item {
      margin-left: 0;
      margin-right: 0;
    }
  }
}

@media screen and (min-width: 1440px) {
  .team {
    padding-top: 120px;
    padding-bottom: 120px;

    & .team__title {
      font-size: 4em;
    }

    &__item {
      max-width: 350px;
    }
  }
}
