.title-h3 {
    font-family: 'Montserrat', sans-serif;
    font-size: 2em;
    font-weight: 700;
    line-height: 1.2;
}

@media screen and (min-width: 768px) {
   .title-h3 {
        font-size: 3em;
    }
}
