.tour {

}

.tour__day {

}

.tour__day-1 {
    &-slider {
        max-width: 742px;
        height: 398px;
        background: url(../img/slider-day-1.png) no-repeat;
    }
}

.tour__day-2 {
    &-slider {
        max-width: 742px;
        height: 398px;
        background: url(../img/slider-day-2.png) no-repeat;
    }
}

.tour__day-3 {
    &-slider {
        max-width: 742px;
        height: 398px;
        background: url(../img/slider-day-3.png) no-repeat;
    }
}

.tour__day-4 {
    &-slider {
        max-width: 742px;
        height: 398px;
        background: url(../img/slider-day-4.png) no-repeat;
    }
}

.tour__day-5 {
    &-slider {
        max-width: 742px;
        height: 398px;
        background: url(../img/slider-day-5.png) no-repeat;
    }
}

.tour__day-6 {
    &-slider {
        max-width: 742px;
        height: 398px;
        background: url(../img/slider-day-6.png) no-repeat;
    }
}

.tour__day-7 {
    &-slider {
        max-width: 742px;
        height: 398px;
        background: url(../img/slider-day-7.png) no-repeat;
    }
}

.tour__day-title {

}

.tour__day-description {

}

.orange-text {

}

.important-text {

}

.text-link {

}
