<section class="team">
  <div class="container">
    <div class="container__inner">
      <h2 class="team__title" data-aos="fade-up">Про нашу супер крутую команду Dreamkam Tour</h2>
      <p class="team__description" data-aos="fade-up">
        Наша команда - это люди влюбленные в свою работу. Каждый из них обладает
        професиональными знаниями, хорошей физической подготовкой. Следят за
        вашей безпасностью в туре, и тем чтобы каждый из вас получил
        максимальное колличество эмоций.
      </p>
      <ul class="team__list">
        <li class="team__item" data-aos="fade-up" data-aos-delay="300">
          <img src="img/alina.webp" alt="" class="team__item-img">
          <p class="team__item-info">
            <span class="team__item-info-name">Алина Гончарова</span>
            <span>,</span>
            <a href="#" class="team__item-info-textlink">@alin_och</a>
          </p>
        </li>
        <li class="team__item" data-aos="fade-up" data-aos-delay="500">
          <img src="img/eugene.webp" alt="" class="team__item-img">
          <p class="team__item-info">
            <span class="team__item-info-name">Евгений Барсуков</span>
            <span>,</span>
            <a href="#" class="team__item-info-textlink">@eugen_eugen</a>
          </p>
        </li>
        <li class="team__item" data-aos="fade-up" data-aos-delay="700">
          <img src="img/dmitri.webp" alt="" class="team__item-img">
          <p class="team__item-info">
            <span class="team__item-info-name">Дмитрий Осипов</span>
            <span>,</span>
            <a href="#" class="team__item-info-textlink">@dim_os</a>
          </p>
        </li>
      </ul>
    </div>
  </div>
</section>
