<section class="team">
  <div class="container">
    <div class="container__inner">
      <h2 class="team__title">Про нашу супер крутую команду Dreamkam Tour</h2>
      <p class="team__description">
        Наша команда - это люди влюбленные в свою работу. Каждый из них обладает
        професиональными знаниями, хорошей физической подготовкой. Следят за
        вашей безпасностью в туре, и тем чтобы каждый из вас получил
        максимальное колличество эмоций.
      </p>
      <div class="team__slider slider"></div>
    </div>
  </div>
</section>
