<header class="header">
    <div class="container">
        <div class="container__inner">
            <div class="header__logo logo">
                @@include('../../img/logo-img.svg')
                @@include('../../img/logo-text.svg')
            </div>

            <nav class="header__nav">
                <ul class="header__menu">
                    <li class="header__menu-item">
                        <a href="" class="header__menu-link">Расписание тура</a>
                    </li>
                    <li class="header__menu-item">
                        <a href="" class="header__menu-link">Как записаться</a>
                    </li>
                    <li class="header__menu-item">
                        <a href="" class="header__menu-link">Команда</a>
                    </li>
                </ul>
            </nav>

            <a href="" class="header__link">Забронировать</a>

            <button class="header__burger">
                <span></span>
                <span></span>
                <span></span>
            </button>
        </div>
    </div>
</header>