<section class="atf">
    <div class="container">
        <div class="container__inner">
            <h1 class="visually-hidden">Тур на Камчатку</h1>
            <p class="atf__title">Мечты о далёкой Камчатке - близко</p>
            <dl class="atf__tour">
                <dt class="atf__tour-name">Dream Tour</dt>
                <dd class="atf__tour-date">23.06 - 04.07</dd>
            </dl>
            <p class="atf__description">Тур перевернет ваш мир с ног на голову и оставит впечатления на всю жизнь.</p>
            <a href="#" class="atf__link link">Расписание тура</a>
            <div class="atf__slider slider">

            </div>
            <ul class="atf__social">
                <li class="atf__social-item"><a href="#" class="atf__social-link"></a></li>
                <li class="atf__social-item"><a href="#" class="atf__social-link"></a></li>
            </ul>
        </div>
    </div>
</section>