<section class="atf">
  <div class="container">
    <div class="container__inner">
      <h1 class="visually-hidden">Тур на Камчатку</h1>
      <p class="atf__title">Мечты о далёкой Камчатке - близко</p>
      <dl class="atf__tour">
        <dt class="atf__tour-name">Dream Tour</dt>
        <dd class="atf__tour-date">23.06 - 04.07</dd>
      </dl>
      <p class="atf__description">
        Тур перевернет ваш мир с ног на голову и оставит впечатления на всю
        жизнь.
      </p>
      <a href="#" class="atf__link link">
        <span class="link__text">Расписание тура</span>
        <span class="link__circle">
          <svg class="link__circle-arrow" width="23" height="24" fill="none" xmlns="http://www.w3.org/2000/svg">
            <g clip-path="url(#clip0)">
              <path
                d="M16.517 6.127h-.001l-4.607.02a.625.625 0 00.005 1.25l3.093-.014-9.34 9.379a.625.625 0 10.885.882l9.34-9.378v3.093a.625.625 0 001.25 0l.002-4.607a.626.626 0 00-.627-.625z"
                fill="#fff" />
            </g>
            <defs>
              <clipPath id="clip0">
                <path fill="#fff" transform="rotate(-45.115 14.444 6)" d="M0 0h16v16H0z" />
              </clipPath>
            </defs>
          </svg>
        </span>
      </a>

      <div class="atf__slider swiper swiper--slides-280-210 swiper--slides-align-bottom overflow-v">
        <div class="swiper-wrapper">
          <div class="swiper-slide">
            <div class="swiper-slide-container">
              <img src="img/atf__slider-1.webp" class="swiper-slide-img" alt="">
            </div>
          </div>
          <div class="swiper-slide">
            <div class="swiper-slide-container">
              <img src="img/atf__slider-2.webp" class="swiper-slide-img" alt="">
            </div>
          </div>
          <div class="swiper-slide">
            <div class="swiper-slide-container">
              <img src="img/atf__slider-3.webp" class="swiper-slide-img" alt="">
            </div>
          </div>
        </div>
        <div class="swiper-buttons-wrapper">
          <div class="swiper-button-prev"></div>
          <div class="swiper-button-next"></div>
        </div>
      </div>

      <ul class="atf__social">
        <li class="atf__social-item">
          <a href="#" class="atf__social-link">
            <img class="atf__social-link-img" width="25" src="img/facebook.svg" alt="" />
          </a>
        </li>
        <li class="atf__social-item">
          <a href="#" class="atf__social-link">
            <img class="atf__social-link-img" width="25" src="img/instagram.svg" alt="" />
          </a>
        </li>
      </ul>
    </div>
  </div>
</section>
