<section class="info">
    <div class="container">
        <div class="container__inner">
            <h2 class="visually-hidden">Информация о туре</h2>
            <p class="info__title">Путешествие на край света начинается</p>
            <p class="info__text">
                <span class="info__text-bigger">Ваша мечта осуществилась, вы приняли решение, и вам предстоит
                    путешествие на край света.</span>
                Этот маршрут лучший вариант для тех, кто хочет ощутить, как живёт самая молодая земля нашей планеты,
                многое увидеть, испытать на себе и полюбить, увезти целый рюкзак незабываемых чувств и впечатлений.
                Каждый день вы будете выезжать на радиальные маршруты, а проживать в комфортабельных двухместных
                номерах.
            </p>
            <div class="info__lists">
                <dl class="info__list">
                    <dt>Сложность</dt>
                    <dd>Для семейного отдыха</dd>
                </dl>
                <dl class="info__list">
                    <dt>Период</dt>
                    <dd>Июль - сентябрь</dd>
                </dl>
                <dl class="info__list">
                    <dt>Длительность</dt>
                    <dd>7 дней / 6 ночей</dd>
                </dl>
                <dl class="info__list">
                    <dt>Проживание</dt>
                    <dd>Отель, без палаток</dd>
                </dl>
            </div>
            <h3 class="info__tour-destination">Камчатка</h3>
            <p class="info__tour-destination-description">Камчатка – земля великолепной заснеженной природы, действующих
                вулканов и диких мест, где ещё не ступала нога человека. </p>
            <p class="info__blockquote"><q class="info__blockquote-text">Когда мы подлетали к Камчатке, у меня захватило
                    дух от увиденного. Это за гранью реальности. Невероятно!</q>
                <cite class="info__blockquote-cite">
                    Максим<span>,</span>
                    <a href="#" class="info__blockquote-cite-link">@max_max</a>
                </cite>
            </p>
        </div>
    </div>
</section>