<section class="tour">
    <div class="container">
        <div class="container__wrapper">
            <h2 class="visually-hidden">Описание тура по дням</h2>
            <article class="tour__day">
                <h3 class="tour__day-title"><span class="orange-text">День 1.</span> Прибытие. Встреча в аэропорту и размещение</h3>
                <p class="tour__day-description">
                    C высоты птичьего полета вы увидите знаменитые «домашние»  вулканы – Корякский, Авачинский и Козельский. У выхода в аэропорту
                    <em class="important-text">вас встретят с табличкой «ДРИМ ТУР»</em>.
                    <em class="important-text">По пути в гостиницу сбор средств</em>
                    с членов группы, инструктаж по программе этого дня
                    (бассейн с термальной водой, шашлык, знакомство с группой, алкоголь, фейерверк не раньше 20:00).
                    После выезд (вид транспорта зависит от величины группы) на базу отдыха в курортный
                    <a class="text-link">поселок Паратунка</a>. 
                    <em class="important-text">Вечером</em>, после прибытия на Камчатку всех участников (если рейсы разные),
                    <em class="important-text">общая встреча</em>, проверка снаряжения,  обсуждение программы завтрашнего дня.</p>
            </article>
        </div>
    </div>
</section>