<article class="tour">
  <h2 class="visually-hidden">Описание тура</h2>

  <article class="tour__info">
    <div class="container">
      <div class="container__inner">
        <h3 class="visually-hidden">Информация о туре</h3>
        <p class="tour__info-title title-h3" data-aos="fade-up">
          Путешествие на край света начинается
        </p>
        <p class="tour__info-text" data-aos="fade-up">
          <span class="tour__info-text-bigger">Ваша мечта осуществилась, вы приняли решение, и вам предстоит
            путешествие на край света.</span>
          Этот маршрут лучший вариант для тех, кто хочет ощутить, как живёт
          самая молодая земля нашей планеты, многое увидеть, испытать на себе и
          полюбить, увезти целый рюкзак незабываемых чувств и впечатлений.
          Каждый день вы будете выезжать на радиальные маршруты, а проживать в
          комфортабельных двухместных номерах.
        </p>
        <div class="tour__info-lists">
          <dl class="tour__info-list tour__info-list--complexity" data-aos="fade-up" data-aos-delay="300">
            <dt>Сложность</dt>
            <dd>Семейный отдых</dd>
          </dl>
          <dl class="tour__info-list tour__info-list--period" data-aos="fade-up" data-aos-delay="500">
            <dt>Период</dt>
            <dd>Июль - сентябрь</dd>
          </dl>
          <dl class="tour__info-list tour__info-list--duration" data-aos="fade-up" data-aos-delay="700">
            <dt>Длительность</dt>
            <dd>7 дней / 6 ночей</dd>
          </dl>
          <dl class="tour__info-list tour__info-list--accomodation" data-aos="fade-up" data-aos-delay="900">
            <dt>Проживание</dt>
            <dd>Отель, без палаток</dd>
          </dl>
        </div>
        <img class="tour__info-tour-destination" src="img/kamchatka.png" alt="" />
        <img class="tour__info-plane" src="img/plane.webp" alt="" />
        <p class="tour__info-tour-destination-description" data-aos="fade-up">
          Камчатка – земля великолепной заснеженной природы, действующих
          вулканов и диких мест, где ещё не ступала нога человека.
        </p>
        <p class="tour__info-blockquote" data-aos="fade-up">
          <q class="tour__info-blockquote-text">Когда мы подлетали к Камчатке, у меня захватило дух от увиденного.
            Это за гранью реальности. Невероятно!</q>
          <cite class="tour__info-blockquote-cite">
            Максим<span>,</span>
            <a href="#" class="tour__info-blockquote-cite-link">@max_max</a>
          </cite>
        </p>
      </div>
    </div>
  </article>

  <section class="tour__day tour__day-1">
    <div class="container">
      <div class="container__inner">
        <h3 class="tour__day-title" data-aos="fade-up">
          <span class="orange-text">День 1.</span> Прибытие. Встреча в аэропорту
          и размещение
        </h3>
        <p class="tour__day-description" data-aos="fade-up">
          C высоты птичьего полета вы увидите знаменитые «домашние» вулканы –
          Корякский, Авачинский и Козельский. У выхода в аэропорту
          <em class="important-text">вас встретят с табличкой «ДРИМ ТУР»</em>.<br /><br />
          <em class="important-text">По пути в гостиницу сбор средств</em>
          с членов группы, инструктаж по программе этого дня (бассейн с
          термальной водой, шашлык, знакомство с группой, алкоголь, фейерверк не
          раньше 20:00).<br /><br />
          После выезд (вид транспорта зависит от величины группы) на базу отдыха
          в курортный
          <a class="text-link">поселок Паратунка</a>.<br /><br />
          <em class="important-text">Вечером</em>, после прибытия на Камчатку
          всех участников (если рейсы разные),
          <em class="important-text">общая встреча</em>, проверка снаряжения,
          обсуждение программы завтрашнего дня.
        </p>

        <div class="tour__day-1-slider swiper swiper--slides-320-290 swiper--slides-align-center overflow-v">
          <div class="swiper-wrapper">
            <div class="swiper-slide" data-target="homeVolcanoes">
              <div class="swiper-slide-container">
                <div class="swiper-slide__text-wrapper">
                  <p class="swiper-slide__title">"Домашние" вулканы</p>
                  <p class="swiper-slide__description">Три вулкана около Петропавловска</p>
                </div>
              </div>
            </div>
            <div class="swiper-slide" data-target="monument">
              <div class="swiper-slide-container">
                <div class="swiper-slide__text-wrapper">
                  <p class="swiper-slide__title">Памятник <br>"Здесь начинается Россия"</p>
                  <p class="swiper-slide__description">Гости Камчатки по традиции делают фото в начале и в конце
                    путешествий</p>
                </div>
              </div>
            </div>
            <div class="swiper-slide" data-target="paratunka">
              <div class="swiper-slide-container">
                <div class="swiper-slide__text-wrapper">
                  <p class="swiper-slide__title">Посёлок Паратунка</p>
                  <p class="swiper-slide__description">Курорт на горячих источниках</p>
                </div>
              </div>
            </div>
          </div>
          <div class="swiper-buttons-wrapper">
            <div class="swiper-button swiper-button-prev"></div>
            <div class="swiper-button swiper-button-next"></div>
          </div>
        </div>

      </div>
    </div>
  </section>

  <section class="tour__day tour__day-2">
    <div class="container">
      <div class="container__inner">
        <h3 class="tour__day-title">
          <span class="orange-text">День 2.</span> Вилючинский водопад, вулкан и
          Верхне-Паратунские термальные источники
        </h3>

        <p class="tour__day-description-1" data-aos="fade-up">
          Инструктаж перед поездкой (передвижение и поведение группы в лесу,
          общение с медведями, форма одежды, ), снаряжение, (взять тару для
          воды при заезде на Зайкин ключ, купальные принадлежности).<br /><br />Сбор
          участников на Роуп Джамп для прыжков с высоты над водопадом. Заранее
          решаем кто прыгает.
        </p>

        <div class="container__inner-wrapper">

          <p class="tour__day-description-2" data-aos="fade-up">
            Выезд из отеля в 10.00. Переезд в верховья реки Паратунка к подножию
            вулкана Вилючинский. Обзорная пешеходная экскурсия к
            <a class="text-link">водопаду Вилючинский</a>. Термос с чаем,
            шоколад. Возвращение назад.<br /><br />
            Обед. Купание в Верхне-Паратунских термальных источниках,
            расположенных на склоне сопки Горячая.<br /><br />
            Продолжительность – 6-8 часов. Трансфер в гостиницу.
          </p>

          <div dir="rtl"
            class="tour__day-2-slider swiper swiper--slides-320-320 swiper--slides-align-center swiper--buttons-black overflow-v">
            <div class="swiper-wrapper">
              <div class="swiper-slide" data-target="viluchinskyVolcano">
                <div class="swiper-slide-container">
                  <div class="swiper-slide__text-wrapper">
                    <p class="swiper-slide__title">Вулкан Вилючинский</p>
                    <p class="swiper-slide__description">Потухший вулкан с горячими источниками и водопадом</p>
                  </div>
                </div>
              </div>
              <div class="swiper-slide" data-target="viluchinskyWaterfall">
                <div class="swiper-slide-container">
                  <div class="swiper-slide__text-wrapper">
                    <p class="swiper-slide__title">Вилючинский водопад</p>
                    <p class="swiper-slide__description">40метровый водопад у подножия вулкана</p>
                  </div>
                </div>
              </div>
              <div class="swiper-slide" data-target="paratunkaSprings">
                <div class="swiper-slide-container">
                  <div class="swiper-slide__text-wrapper">
                    <p class="swiper-slide__title">Верхне-Паратунские источники</p>
                    <p class="swiper-slide__description">Горячие источники на северо-восточном склоне вулкана</p>
                  </div>
                </div>
              </div>
            </div>
            <div class="swiper-buttons-wrapper">
              <div class="swiper-button swiper-button-prev"></div>
              <div class="swiper-button swiper-button-next"></div>
            </div>
          </div>

        </div>
      </div>
  </section>

  @@include('benefits.html')

  <section class="tour__day tour__day-3">
    <div class="container">
      <div class="container__inner">
        <div class="row">
          <div class="col-1">
            <h3 class="tour__day-title" data-aos="fade-up">
              <span class="orange-text">День 3.</span> Горные цирки и водопады
              вулкана Вачкажец
            </h3>
            <p class="tour__day-description" data-aos="fade-up">
              Вачкажец – горный массив и его окрестности, одно из красивейших мест
              первозданной камчатской природы. Небольшой пеший переход не успеет Вас
              утомить. А в награду за труд в конце пути открывается великолепный вид
              на горное озеро в чаше кратера старого потухшего вулкана, обрамленное
              пиками старых, невысоких гор.<br /><br />
              Выезд из гостиницы и переезд около 2 часов. Пеший переход около 5 км.в
              одну сторону к горным циркам вулкана Вачкажец, осмотр водопада. Обед.
              Отдых. По прибытию в машину чай с шоколадом! Обратный переход по тому
              же пути.<br /><br />
              Продолжительность: 8 часов. Трансфер в гостиницу.
            </p>
          </div>
          <div class="col-2">
            <div dir="rtl"
              class="tour__day-3-slider swiper swiper--slides-320-290 swiper--slides-align-center overflow-v">
              <div class="swiper-wrapper">
                <div class="swiper-slide" data-target="vachkazhetsVolcano">
                  <div class="swiper-slide-container">
                    <div class="swiper-slide__text-wrapper">
                      <p class="swiper-slide__title">Вачкажец</p>
                      <p class="swiper-slide__description">Древний вулкан, который был разделён мощным извержением на 3
                        части</p>
                    </div>
                  </div>
                </div>
                <div class="swiper-slide" data-target="vachkazhetsWaterfalls">
                  <div class="swiper-slide-container">
                    <div class="swiper-slide__text-wrapper">
                      <p class="swiper-slide__title">Водопады Вачкажца</p>
                      <p class="swiper-slide__description">Каскад впечатляющих водопадов</p>
                    </div>
                  </div>
                </div>
                <div class="swiper-slide" data-target="mountainLake">
                  <div class="swiper-slide-container">
                    <div class="swiper-slide__text-wrapper">
                      <p class="swiper-slide__title">Горное озеро</p>
                      <p class="swiper-slide__description">горное озеро в чаше кратера старого потухшего вулкана</p>
                    </div>
                  </div>
                </div>
              </div>
              <div class="swiper-buttons-wrapper">
                <div class="swiper-button swiper-button-prev"></div>
                <div class="swiper-button swiper-button-next"></div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>

  <div class="tour__day-4-5-6-background">
    <section class="tour__day tour__day-4">
      <div class="container">
        <div class="container__inner">
          <div class="row">
            <div class="col-1">
              <h3 class="tour__day-title" data-aos="fade-up">
                <span class="orange-text">День 4.</span> Экскурсия к подножию
                Авачинского вулкана
              </h3>
              <p class="tour__day-description" data-aos="fade-up">
                Инструктаж по поведению группы в горах. Проверка снаряжения. Выезд на
                автомашине на вулканическое плато (высота 900 м) к подножию
                <a class="text-link">Авачинского вулкана</a> (2 часа).<br /><br />
                Пешеходная экскурсия к горе Верблюд, представляющую собой
                вулканическую экструзию. Находится в седловине между Корякским и
                Авачинским вулканами, относительная высота 100-150 м, ширина - около
                100 м и по длине она протягивается на 500 м., состоит из трех
                сросшихся блоков.<br /><br />
                Обед. Поездка в Паратунку с купанием.<br /><br />
                Продолжительность – 8 часов. Трансфер в гостиницу.
              </p>
            </div>
            <div class="col-2">
              <div class="tour__day-4-slider swiper swiper--slides-320-290 swiper--slides-align-center overflow-v">
                <div class="swiper-wrapper">
                  <div class="swiper-slide" data-target="avachinskyVolcano">
                    <div class="swiper-slide-container">
                      <div class="swiper-slide__text-wrapper">
                        <p class="swiper-slide__title">Подножие Авачинского вулкана</p>
                        <p class="swiper-slide__description">Один из самых активных вулканов на Камчатке</p>
                      </div>
                    </div>
                  </div>
                  <div class="swiper-slide" data-target="camelMountain">
                    <div class="swiper-slide-container">
                      <div class="swiper-slide__text-wrapper">
                        <p class="swiper-slide__title">Гора Верблюд</p>
                        <p class="swiper-slide__description">Вулканическая экструзия в центре Авачинского перевала</p>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="swiper-buttons-wrapper">
                  <div class="swiper-button swiper-button-prev"></div>
                  <div class="swiper-button swiper-button-next"></div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>

    <section class="tour__day tour__day-5">
      <div class="container">
        <div class="container__inner">
          <div class="row">
            <div class="col-1">
              <h3 class="tour__day-title" data-aos="fade-up">
                <span class="orange-text">День 5.</span> Морская прогулка к острову
                Старичков
              </h3>
              <p class="tour__day-description" data-aos="fade-up">
                Инструктаж по поведению группы при передвижении на плавсредствах,
                приему таблеток от морской болезни.<br /><br />
                Выезд на причал. Морская прогулка по Авачинской бухте. Осмотр панорамы
                города Петропавловска-Камчатского, Авачинской бухты и Авачинского
                залива. Маршрут пролегает мимо бухты Тихая, острова Бабушкин камень,
                мыса Станицкого, камней «Три брата». Увлекательная возможность донной
                рыбалки на терпуга, ленка, камбалу у «Трех братьев», мыса Безымянный,
                у <a class="text-link">острова Старичков</a>.<br /><br />
                Осмотр птичьих базаров - смешанных колонии кайр, моевок и бакланов.
                Трансфер в гостиницу.<br /><br />
                Продолжительность 6 часов.
              </p>
            </div>
            <div class="col-2">
              <div dir="rtl"
                class="tour__day-5-slider swiper swiper--slides-320-290 swiper--slides-align-center overflow-v">
                <div class="swiper-wrapper">
                  <div class="swiper-slide" data-target="avachinskayaBay">
                    <div class="swiper-slide-container">
                      <div class="swiper-slide__text-wrapper">
                        <p class="swiper-slide__title">Авачинская бухта</p>
                        <p class="swiper-slide__description">Незамерзающая бухта Тихого океана</p>
                      </div>
                    </div>
                  </div>
                  <div class="swiper-slide" data-target="rocksThreeBrothers">
                    <div class="swiper-slide-container">
                      <div class="swiper-slide__text-wrapper">
                        <p class="swiper-slide__title">Скалы Три брата</p>
                        <p class="swiper-slide__description">Базальтовые скалы в форме столбов, выступающих из воды</p>
                      </div>
                    </div>
                  </div>
                  <div class="swiper-slide" data-target="islandOfOldies">
                    <div class="swiper-slide-container">
                      <div class="swiper-slide__text-wrapper">
                        <p class="swiper-slide__title">Остров Старичков</p>
                        <p class="swiper-slide__description">Остров в северной части бухты Саранная</p>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="swiper-buttons-wrapper">
                  <div class="swiper-button swiper-button-prev"></div>
                  <div class="swiper-button swiper-button-next"></div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>

    <section class="tour__day tour__day-6">
      <div class="container">
        <div class="container__inner">
          <div class="row">
            <div class="col-1">
              <h3 class="tour__day-title" data-aos="fade-up">
                <span class="orange-text">День 6.</span> Берег Тихого океана,
                экскурсия по городу
              </h3>
              <p class="tour__day-description" data-aos="fade-up">
                Поездка на берег Тихого океана, в район Халактырского пляжа. Прогулка.
                Обед в городе. Обзорная экскурсия по г. Петропавловску-Камчатскому с
                посещением смотровых площадок. Рыбный рынок.<br /><br />
                Продолжительность -5 часов. Трансфер в гостиницу.
              </p>
              <div class="tour__day-optional optional" data-aos="fade-up">
                <table class="optional__services-table">
                  <caption>
                    Дополнительные услуги
                  </caption>
                  <tr>
                    <th>Серфинг</th>
                    <td>Прыжки с высоты над водопадом. Записываться заранее.</td>
                  </tr>
                  <tr>
                    <th>SUP борды</th>
                    <td>Прыжки с высоты над водопадом. Записываться заранее.</td>
                  </tr>
                </table>
              </div>
            </div>
            <div class="col-2">
              <div class="tour__day-6-slider swiper swiper--slides-320-290 swiper--slides-align-center overflow-v">
                <div class="swiper-wrapper">
                  <div class="swiper-slide" data-target="khalaktyrBeach">
                    <div class="swiper-slide-container">
                      <div class="swiper-slide__text-wrapper">
                        <p class="swiper-slide__title">Халактырский пляж</p>
                        <p class="swiper-slide__description">Пляж с чёрным вулканическим песком на побережье тихого океана</p>
                      </div>
                    </div>
                  </div>
                  <div class="swiper-slide" data-target="mishennayaHill">
                    <div class="swiper-slide-container">
                      <div class="swiper-slide__text-wrapper">
                        <p class="swiper-slide__title">Мишé‎нная сопка</p>
                        <p class="swiper-slide__description">Гора в Петропавловске со смотровой площадкой</p>
                      </div>
                    </div>
                  </div>
                  <div class="swiper-slide" data-target="fishMarket">
                    <div class="swiper-slide-container">
                      <div class="swiper-slide__text-wrapper">
                        <p class="swiper-slide__title">Рыбный рынок</p>
                        <p class="swiper-slide__description">Гастрономический центр Камчатки</p>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="swiper-buttons-wrapper">
                  <div class="swiper-button swiper-button-prev"></div>
                  <div class="swiper-button swiper-button-next"></div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
  </div>

  <section class="tour__day tour__day-7">
    <div class="container">
      <div class="container__inner">
        <h3 class="tour__day-title" data-aos="fade-up">
          <span class="orange-text">День 7.</span> Вертолетная экскурсия в
          Долину Гейзеров и кальдеру вулкана Узон / свободный день
        </h3>
        <p class="tour__day-description">
          <span class="tour__day-description-part-1" data-aos="fade-up">Экскурсия проводится в содружестве с
            «ВИТЯЗЬ-ТРЕВЕЛ»,
            крупнейшим
            оператором вертолётных туров на Камчатке. Выезд в аэропорт «Витязь
            –Аэро». К вашим услугам –современный аэропортовый комплекс,
            включающий в себя удобный зал ожидания, кафетерий, сувенирный
            магазин.<br /><br />
            Перелёт до <a class="text-link">Долины гейзеров</a> занимает 1 час
            10 минут. По пути, при благоприятных условиях, вы осмотрите два
            действующих вулкана – Карымский и Малый Семячик из окон вертолёта.
          </span>
          <img src="img/day-7.webp" alt="" class="tour__day-7-img">
          <span class="tour__day-description-part-2" data-aos="fade-up">Перелёт и посадка в кальдере Узон. Кальдера
            образовалась в
            результате обрушения стенок древнего вулкана около 40 тысяч лет
            назад, на её дне очень ярко проявляется гидротермальная
            деятельность.Сотни столбов пара вырываются здесь из жёлтых
            фумарольных полей. Осмотр термальных полей.<br /><br />
            Перелёт и посадка в <a class="text-link">Налычевской долине</a>. Купание в горячих
            источниках. Здесь же вам предложат обед - горячее, чай и камчатский
            морс. Трансфер в гостиницу.
          </span>
        </p>
        <div class="row">
          <div class="col-1">
            <div class="tour__day-optional optional" data-aos="fade-up">
              <table class="optional__services-table">
                <caption>
                  Дополнительные услуги
                </caption>
                <tr>
                  <th>Роуп Джамп</th>
                  <td>Прыжки с высоты над водопадом. Записываться заранее.</td>
                </tr>
                <tr>
                  <th>Ледянки</th>
                  <td>Прыжки с высоты над водопадом. Записываться заранее.</td>
                </tr>
              </table>
            </div>
          </div>
          <div class="col-2">
            <div dir="rtl"
              class="tour__day-7-slider swiper swiper--slides-320-320 swiper--slides-align-center swiper--buttons-black overflow-v">
              <div class="swiper-wrapper">
                <div class="swiper-slide" data-target="valleyOfGeysers">
                  <div class="swiper-slide-container">
                    <div class="swiper-slide__text-wrapper">
                      <p class="swiper-slide__title">Долина гейзеров</p>
                      <p class="swiper-slide__description">Долина, где находится более 20 крупных гейзеров</p>
                    </div>
                  </div>
                </div>
                <div class="swiper-slide" data-target="calderaUzon">
                  <div class="swiper-slide-container">
                    <div class="swiper-slide__text-wrapper">
                      <p class="swiper-slide__title">Кальдера вулкана Узон</p>
                      <p class="swiper-slide__description">Огромная впадина размером в поперечнике до 12 километров</p>
                    </div>
                  </div>
                </div>
                <div class="swiper-slide" data-target="nalychevskayaValley">
                  <div class="swiper-slide-container">
                    <div class="swiper-slide__text-wrapper">
                      <p class="swiper-slide__title">Налычевская долина</p>
                      <p class="swiper-slide__description">Красивейшее место с множеством выходов минеральных и термальных источников</p>
                    </div>
                  </div>
                </div>
              </div>
              <div class="swiper-buttons-wrapper">
                <div class="swiper-button swiper-button-prev"></div>
                <div class="swiper-button swiper-button-next"></div>
              </div>
            </div>
          </div>
        </div>
      </div>
  </section>

  <section class="tour__day tour__day-8">
    <div class="container">
      <div class="container__inner">
        <h3 class="tour__day-title" data-aos="fade-up">
          <span class="orange-text">День 8.</span> Отъезд с Камчатки. Трансфер в
          аэропорт
        </h3>
        <p class="tour__day-description" data-aos="fade-up">
          Заезд на рынок, прощальное посещение «медведей», фото на память.
          Возвращайтесь следующим летом!
        </p>
      </div>
    </div>
  </section>
</article>
