<section class="price">
    <div class="container">
        <div class="container__inner">
            <!--Внимательно. Скорее всего придётся всё двигать-->
            <h2 class="price__title">Стоимость участия</h2>
            <table class="price__table">
                <caption class="visually-hidden">Тарифы</caption>
                <tr>
                    <th>Базовый (для камчадал)</th>
                    <td tabindex="0">79 000 руб</td>
                </tr>
                <tr>
                    <th>Базовый c проживанием</th>
                    <td>99 000 руб</td>
                </tr>
                <tr>
                    <th>Базовый с проживанием и долиной гейзеров</th>
                    <td>179 000 руб</td>
                </tr>
            </table>

            <a href="#" class="price__link link">Отправить заявку</a>

            <div class="price__details price__details--included">
                <h3 class="price__details-title">В стоимость входит</h3>
                <ul class="price__details-list">
                    <li class="price__details-item">встреча и проводы в аэропорту</li>
                    <li class="price__details-item">питание: обеды во время экскурсий</li>
                    <li class="price__details-item">услуги гида</li>
                    <li class="price__details-item">все транспортные услуги ( автобусы, джипы-вездеходы 4WD)</li>
                    <li class="price__details-item">все указанные в программе экскурсии</li>
                </ul>
            </div>

            <div class="price__details price__details--optional">
                <h3 class="price__details-title">За дополнительную плату</h3>
                <ul class="price__details-list">
                    <li class="price__details-item">встреча и проводы в аэропорту</li>
                    <li class="price__details-item">питание: обеды во время экскурсий</li>
                    <li class="price__details-item">услуги гида</li>
                    <li class="price__details-item">все транспортные услуги ( автобусы, джипы-вездеходы 4WD)</li>
                    <li class="price__details-item">все указанные в программе экскурсии</li>
                </ul>
            </div>

            <ul class="price__more">
                <li class="price__more-item">Информация о бронях</li>
                <li class="price__more-item">Важная информация</li>
                <li class="price__more-item">Условия договора и возврата</li>
            </ul>
        </div>
    </div>
</section>