    <div class="tour__benefits benefits">
        <div class="container">
            <div class="container__inner">
                <h3 class="benefits__title">На протяжении маршрута вас ожидает:</h3>
                <ul class="benefits__list">
                    <li class="benefits__item">
                        <div class="benefits__item-image-wrapper"></div>
                        <div class="benefits__item-text-wrapper">
                            <p class="benefits__item-title">Аудиосопровождение</p>
                            <p class="benefits__item-description">Новый способ увидеть и услышать, то место, где вы
                                находитесь. С помощью аудиогида вы сможете совершить увлекательную экскурсию по городу.
                            </p>
                        </div>
                    </li>
                    <li class="benefits__item">
                        <div class="benefits__item-image-wrapper"></div>
                        <div class="benefits__item-text-wrapper">
                            <p class="benefits__item-title">Разнообразное питание</p>
                            <p class="benefits__item-description">Каждый обед мы готовим с большой любовью. Кормим вас
                                традиционными камчатскими блюдами. Еда - залог хорошего отдыха!</p>
                        </div>
                    </li>
                    <li class="benefits__item">
                        <div class="benefits__item-image-wrapper"></div>
                        <div class="benefits__item-text-wrapper">
                            <p class="benefits__item-title">Безопасность на маршруте</p>
                            <p class="benefits__item-description">Наша команда проводит инструктаж, рассказывает как
                                правильно себя вести, как избежать опасных ситуаций.</p>
                        </div>
                    </li>
                    <li class="benefits__item">
                        <div class="benefits__item-image-wrapper"></div>
                        <div class="benefits__item-text-wrapper">
                            <p class="benefits__item-title">Потрясающие фото</p>
                            <p class="benefits__item-description">Можете не переживать, что не успели сделать фото. Наш
                                фотограф успевает везде и за всеми. У вас будут самые лучшие фото!</p>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
    </div>