<div class="modal">
  <div class="modal-box">
    <span class="modal-box__close">
      <span></span>
      <span></span>
    </span>
    <div class="modal-box__header"></div>
    <div class="modal-box__content">
      <h4 class="modal-box__title">Заголовок</h4>
      <p class="modal-box__text">Далеко-далеко за словесными горами в стране гласных и согласных живут рыбные тексты. Речью, жизни своего lorem однажды вершину послушавшись предложения его. Над города жаренные парадигматическая что безопасную ведущими заглавных не. Рукописи, дороге? Lorem ipsum dolor sit amet, consectetur adipisicing elit. Laboriosam totam, doloremque nulla assumenda, aut eius dolorum nisi facere dolorem sed beatae numquam reiciendis quis corrupti aliquam minima magni velit illo?Lorem ipsum dolor sit amet consectetur adipisicing elit. Nisi temporibus nostrum dignissimos modi explicabo, dolores nobis vitae sapiente dicta assumenda quaerat praesentium alias enim sed illo tempore, in facilis provident!
      Voluptatem rerum quisquam aut esse perferendis. Aperiam labore eveniet quis quasi! Soluta recusandae sequi debitis corrupti. Debitis nostrum quaerat ullam aperiam laudantium corrupti non nulla, velit dolorum cumque ab tempora!
      Totam cumque illum omnis, culpa tempora cum molestiae perspiciatis laudantium. Illum sed expedita cumque, velit molestiae iste reiciendis cupiditate fuga nostrum! Ipsam repellat ratione corrupti? Dolorum voluptatum iure est ipsum!
      Molestias temporibus facere rem omnis eligendi tempora non ad unde. Quasi eos omnis repellat sapiente error molestiae nihil similique ad, consequatur cum ab consectetur! Fuga iste maiores dolorem accusamus sint.
      Cum saepe ipsum, nobis maxime iure nostrum provident, ad natus ipsam odio voluptate sed! Ratione repudiandae iure rerum. Perferendis minus soluta, tempore ratione quae cupiditate. Illo totam autem repellat cumque Lorem ipsum dolor sit amet consectetur adipisicing elit. Atque voluptate animi dolorum. Temporibus, eaque repellendus earum asperiores, id reiciendis aut, iure maxime incidunt ex quia. Voluptatibus nihil eum error fugiat?
      Rerum neque animi, hic asperiores nesciunt aperiam natus vel beatae alias saepe quo, delectus ut libero dicta id odio quae temporibus, vero pariatur dolorem quos culpa praesentium. Veniam, maxime. Eum?
      Sapiente amet reprehenderit temporibus, blanditiis est eos repellendus facilis! Assumenda eveniet iusto accusamus illum eos aspernatur, nesciunt nisi a, fuga et vitae doloribus perferendis sit iste quidem, labore minus hic?</p>
    </div>
    <div class="modal-box__footer">
      <div class="modal-box__footer-close">
        <span class="modal-box__footer-button">Вернуться в маршруту</span>
      </div>
    </div>
  </div>
</div>
